:root{
    --h:600px;
    --w:400px;
}

.main{
    background-color: rgb(204, 204, 204);
    margin-left: auto;
    margin-right: auto;
    width: var(--w);
    height: var(--h); 
    border-radius: 30px;  
}

.profile_icon{
    display: inline-block;
    height:  calc(var(--h) * 0.05);
    width: calc(var(--w) * 0.075);
    border-radius: 100%;
    margin-left: calc(var(--w) * 0.03);
    margin-top: calc(var(--h) * 0.02);
    background-color: #8C52FF;
    text-align: center;
    font-size: calc((var(--h)) * 0.036);
}

.profile_name{
    display: inline-block;
    margin-top: calc(var(--h) * 0.02);
    margin-left: calc(var(--w) * 0.05);
    height:  calc(var(--h) * 0.047);
    width: calc(var(--w) * 0.55);
    border-radius: 500px;
    background-color: #8C52FF;
}

.photo{
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(var(--h) * 0.047);
    height:  calc(var(--h) * 0.55);
    width: calc(var(--w));
    background-color: #8C52FF;
}

.location{
    background-color: rgb(134, 132, 132);
    margin-left: calc(var(--w) * 0.05);
    margin-top: calc(var(--h) * 0.03);
    height:  calc(var(--h) * 0.045);
    width: calc(var(--w) * 0.5);
    border-radius: 500px;
}

.sanitation{
    background-color: rgb(54, 164, 172);
    margin-left: calc(var(--w) * 0.05);
    margin-top: calc(var(--h) * 0.03);
    height:  calc(var(--h) * 0.045);
    width: calc(var(--w) * 0.3);
    border-radius: 500px;
}

.maintance{
    background-color: rgb(54, 164, 172);
    margin-left: calc(var(--w) * 0.05);
    margin-top: calc(var(--h) * 0.03);
    height:  calc(var(--h) * 0.045);
    width: calc(var(--w) * 0.7);
    border-radius: 500px;
}

.line{
    background-color: #8C52FF;
    height: calc(var(--w) * 0.005);
    border-width: 0px;
    margin-top: calc(var(--h) * 0.045);
}

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(var(--h) * -1* 0.005);
    height:  calc(var(--h) * 0.033);
    width: calc(var(--w) * 0.055);
    border-radius: 500px;

}

/* .comment{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    height:  calc(var(--h) * 0.1);
    width: calc(var(--w) * 0.09);
    border: solid black;
} */